{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'users-signup' %}">
    {% if form_register.errors %}
        {% for field in form_register %}
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endfor %}
    {% endif %}
    <!-- Token block needed for added security -->
    {% csrf_token %}
    
    <!-- Imported form.py and is using add on Crispy forms to enhance look-->
    {{ form_register|crispy }}
    <input class="btn-success" type="submit" value="Next">
</form>
{% endblock %}