{% extends 'homepage/header.html' %}
{% load static %}
{% block content %}
<style>
    .job {
        padding: 130px 0;
        background-color: #F5F5F5;
        width: 100%;
    }

    .job-card {
        background-color: #fff;
        border: 0.5px solid rgba(0, 0, 0, .125);
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        margin: 10px;
        min-height: 300px;
    }

    .bottom-link {
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }

    #milestone-bar {
        height: 20px;
    }

    #milestone-row {
        text-align: center;
    }

    .detail-btn {
        width: 100px;
    }

    .platform-pic {
        max-width: 40px;
        max-height: 40px;
    }

    #without-manager {
        margin-top: 60px;
    }

    .card .card-body p {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    #submit-button {
        width: 100px;
    }

    .update-link {
        color: #000;
        padding-left: 10px;
        /* text-decoration: underline; */
    }

        {
        % if order.job_preparation_completed==True %
    }

    .update-link:hover {
        color: blue;
        cursor: pointer;
    }

        {
        % endif %
    }

    .btn {
        width: 100px;
    }

    #service-preparation,
    #milestones {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .sub-titles {
        color: rgb(77, 77, 77);
    }

    #end-preparation-btn,
    #cancel-button {
        width: 200px;
    }

    .update-milestone-header {
        padding-bottom: 20px;
    }

    .milestone-img {
        max-width: 100px;
    }

    .milestone-div {
        padding: 10px;
    }
</style>
<div class="job">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card job-card">
                    <div class="card-body">
                        <h4>Job Details</h4>
                        <p class="h5">
                            Services:
                            {% if order.captions == True %}
                            Created Captions
                            {% endif %}
                            {% if order.captions == True and order.search_for_content == True %}
                            ,
                            {% endif %}
                            {% if order.search_for_content == True %}
                            Looked for content
                            {% endif %}
                        </p>
                        <p class="h5">
                            Job Duration: {{ order.length }}
                        </p>
                        <p class="h5">
                            Number of Posts:
                            {{ order.number_of_post }} (for each platform)
                        </p>
                        <p class="h5">
                            {% if order.paid %}
                            Price Paid: ${{ order.price_paid }}
                            {% endif %}
                        </p>
                        <p class="h5">
                            Platforms:
                            {% if order.instagram == True %}
                            Instagram({{ order.instagram_username }})
                            {% endif %}
                            {% if order.instagram == True and order.facebook == True%}
                            ,
                            {% endif %}
                            {% if order.facebook == True %}
                            Facebook({{ order.facebook_username }})
                            {% endif %}
                        </p>
                        <p>
                            {% if order.instagram == True %}
                            <img class="platform-pic" src="{% static 'homepage/img/instagram.png' %}">
                            {% endif %}
                            {% if order.instagram == True and order.facebook == True%}
                            ,
                            {% endif %}
                            {% if order.facebook == True %}
                            <img class="platform-pic" src="{% static 'homepage/img/facebook.png' %}">
                            {% endif %}
                        </p>
                        <p class="h5">
                            Job Complete:
                            {% if order.job_complete == True %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </p>
                        <p class="h5">
                            Deadline: {{ order.deadline }}
                        </p>
                        {% if order.job_complete == False %}
                        <p>
                            <a href="#" class="detail-btn btn btn-outline-danger" data-toggle="modal"
                                data-target="#cancel-modal">Cancel</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card job-card">
                    <div class="card-body">
                        <h4>Client</h4>
                        <div class="row">
                            <div class="col-4 text-center">
                                <img id="profile-pic" class="float-center" src="{{ client_profile.image.url }}" alt="">
                                <p class="font-weight-bold">
                                    {{ client_profile.first_name }} {{ client_profile.last_name }}
                                </p>
                                <p id="profile-language" class="text-weight-bold">Language:
                                    {{ client_profile.language }}
                                </p>
                                <a href="{% url 'chat-room' order.job_id %}"
                                    class="btn btn-sm btn-outline-success">Message</a>
                            </div>
                            <div id="profile-description-div" class="col-8 text-right">
                                <h5>{{ client_profile.email }}</h5>
                                <p>{{ client_profile.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card job-card">
                    <div class="card-body">
                        <h4>Job Timeline</h4>
                        <div>
                            {% if order.job_preparation_completed == False %}
                            <div id="service-preparation">
                                <h5 class="sub-titles">Service Preparation</h5>
                                <p>This is the time you have to prepare for this job
                                    starts.</p>
                                <p><span class="font-weight-bold">Service Preparation Length:</span>
                                    {% if order.job_preparation_completed == False %}
                                    {{ job_prep_days_left }}
                                    {% else %}
                                    Completed
                                    {% endif %}
                                </p>
                                {% if order.job_preparation_completed == False %}
                                <a href="{% url 'dashboard-end-job-prep' order.id %}" id="end-preparation-btn"
                                    class="btn btn-outline-primary">End Preparation</a>
                                {% endif %}
                            </div>

                            {% else %}
                            <div id="milestones">
                                <h5 class="sub-titles">Milestones</h5>
                                <p>A milestone is a description of the services provided in a specific time frame.
                                    You're
                                    responsible for filling out milestones every time you get so far through a
                                    job.</p>
                                <div id="milestone-row" class="row">
                                    <div class="milestone-div col-sm-12 col-md-6">
                                        <p class="font-weight-bold">Milestone 1
                                            Statement:</p>
                                        {% if order.milestone_one_statement != 'none' %}
                                        {{ order.milestone_one_statement }}
                                        {% else %}
                                        <span class="update-link" data-toggle="modal"
                                            data-target="#milestone-one-update">Update</span>
                                        {% endif %}
                                    </div>
                                    <div class="milestone-div col-sm-12 col-md-6">
                                        <p class="font-weight-bold">Milestone 2
                                            Statement:</p>
                                        {% if order.milestone_two_statement != 'none' %}
                                        {{ order.milestone_two_statement }}
                                        {% else %}
                                        <span class="update-link" data-toggle="modal"
                                            data-target="#milestone-two-update">Update</span>
                                        {% endif %}
                                    </div>
                                    <div class="milestone-div col-sm-12 col-md-6">
                                        <p class="font-weight-bold">Milestone 3
                                            Statement:</p>
                                        {% if order.milestone_three_statement != 'none' %}
                                        {{ order.milestone_three_statement }}
                                        {% else %}
                                        <span class="update-link" data-toggle="modal"
                                            data-target="#milestone-three-update">Update</span>
                                        {% endif%}
                                    </div>
                                    {% if order.length != 3 %}
                                    <div class="milestone-div col-sm-12 col-md-6">
                                        <p class="font-weight-bold">Milestone 4
                                            Statement:</p>
                                        {% if order.milestone_four_statement != 'none' %}
                                        {{ order.milestone_four_statement }}
                                        {% else %}
                                        <span class="update-link" data-toggle="modal"
                                            data-target="#milestone-four-update">Update</span>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id="job-completion">
                            <h5>Job Completion</h5>
                            <div class="progress" id="milestone-bar">
                                <div id="progress-bar-job-completion" class="progress-bar bg-success" role="progressbar"
                                    aria-valuemin="0" aria-valuemax="100">
                                    25%
                                </div>
                                <div id="progress-bar-job-incompletion" class="progress-bar" role="progressbar"
                                    style="color:#000; background-color: rgba(0, 0, 0, .125); width: 0%;">
                                </div>
                            </div>
                            <p>Note: Managers update their milestones after they get through a certain point during
                                the
                                job
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if order.job_preparation_completed == True %}
<div class="modal fade" id="milestone-one-update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="update-milestone-header">Update Milestone One</h3>

                <div class="text-left">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <p>Completed Goal of {{ post_per_day }} Posts</p>
                        {{ form.milestone_one_completed_job_goal }}
                        <p>Give a brief description of</p>
                        <ul>
                            <li>Post you have found and used for your client</li>
                            <li>Communication with your client</li>
                        </ul>
                        <input type="hidden" name="milestone-number" id="milestone-number" value="1">
                        {{ form.milestone_one_statement }}
                        <input type="submit" class="btn btn-outline-primary" value="Submit">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="milestone-two-update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="update-milestone-header">Update Milestone Two</h3>

                <div class="text-left">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <p>Completed Goal of {{ post_per_day }} Posts</p>
                        {{ form.milestone_two_completed_job_goal }}
                        <p>Give a brief description of</p>
                        <ul>
                            <li>Post you have found and used for your client</li>
                            <li>Communication with your client</li>
                        </ul>
                        <input type="hidden" name="milestone-number" id="milestone-number" value="1">
                        {{ form.milestone_two_statement }}
                        <input type="submit" class="btn btn-outline-primary" value="Submit">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="milestone-three-update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="update-milestone-header">Update Milestone Three</h3>

                <div class="text-left">

                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <p>Completed Goal of {{ post_per_day }} Posts</p>
                        {{ form.milestone_three_post_goal_complete }}
                        <p>Give a brief description of</p>
                        <ul>
                            <li>Post you have found and used for your client</li>
                            <li>Communication with your client</li>
                        </ul>
                        <input type="hidden" name="milestone-number" id="milestone-number" value="1">
                        {{ form.milestone_three_completed_job_goal }}
                        <input type="submit" class="btn btn-outline-primary" value="Submit">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if order.length != 3 %}
<div class="modal fade" id="milestone-four-update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="update-milestone-header">Update Milestone Four</h3>
                <div class="text-left">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <p>Completed Goal of {{ post_per_day }} Posts</p>
                        {{ form.milestone_four_completed_job_goal }}
                        <p>Give a brief description of</p>
                        <ul>
                            <li>Post you have found and used for your client</li>
                            <li>Communication with your client</li>
                        </ul>
                        <!-- <input type="checkbox" > -->
                        <input type="hidden" name="milestone-number" id="milestone-number" value="1">
                        {{ form.milestone_four_statement }}
                        <input type="submit" class="btn btn-outline-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% if order.job_complete == False %}
<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h3>Are you sure you want to cancel the job</h3>
                    {% if order.manager %}
                    <p>We will charge extra depending on how far you have made it through the job</p>
                    {% else %}
                    <p>We won't charge because you haven't been paired with a manager yet</p>
                    {% endif %}
                    <a href="#" id="cancel-button" class="btn btn-danger">Cancel Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    // function showMilestone(e, milestone) {
    //     let milestoneDivs = document.getElementsByClassName('update-form-div');
    //     milestone = milestone - 1;
    //     milestone = milestoneDivs[milestone]
    //     milestone.style.display = 'block';
    // }
    function onLoad() {

        // Adding style to all image fields
        var inputs = document.getElementsByTagName("input");
        for (i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            var inputClass = input.getAttribute("class");
            console.log("class: " + inputClass)
            if (inputClass == null) {
                // alert('yay')
                input.setAttribute("class", "form-control");
            }
        }

        // Changing UI if job prep id exist
        var jobPrep = document.getElementById('service-preparation');
        var milestoneMainDiv = document.getElementById('milestones');
        var milestoneRow = document.getElementById('milestone-row');
        if (jobPrep == null) {
            milestoneMainDiv.classList.remove("col-md-6");
            milestoneMainDiv.classList.remove("col-sm-12");
            milestoneRow.setAttribute("class", "row");

            var milestoneDivs = document.getElementsByClassName('milestone-div');
            for (i = 0; i < milestoneDivs.length; i++) {
                var milestoneDiv = milestoneDivs[i];
                // console.log(i)
                milestoneDivs[i].setAttribute("class", "milestone-div col-sm-12 col-md-6");
                console.log(i)

            }
        }
        // alert(jobPrep);
    }
    onLoad();

    function progressBar(job_complete, milestone1 = 'none', milestone2 = 'none', milestone3 = 'none', milestone4 = 'none') {
        let progressBarElement = document.getElementById('progress-bar-job-completion')
        let progressBarIncompleteElement = document.getElementById('progress-bar-job-incompletion')
        if (job_complete == 'True') {
            progressBarElement.innerHTML = '100% Complete'
            progressBarElement.style.width = '100%'
        } else {
            let progress = 0
            let job_length = "{{ order.length }}";
            if (job_length != 3) {
                if (milestone1 != 'none') {
                    progress += 25
                }
                if (milestone2 != 'none') {
                    progress += 25
                }
                if (milestone3 != 'none') {
                    progress += 25
                }
                if (milestone4 != 'none') {
                    progress += 25
                }
            } else {
                if (milestone1 != 'none') {
                    progress += 33
                }
                if (milestone2 != 'none') {
                    progress += 33
                }
                if (milestone3 != 'none') {
                    progress += 34
                }
            }
            console.log('progress: ' + progress)
            progressBarElement.innerHTML = progress + '% complete'
            progressBarElement.style.width = progress + '%'

            if (progress == 0) {
                progressIncomplete = 100 - progress
                progressBarIncompleteElement.style.width = progressIncomplete + '%'
                progressBarIncompleteElement.innerHTML = progress + '% Complete'
            }
        }
    }
    progressBar("{{ order.job_complete }}", "{{ order.milestone_one_statement }}", "{{ order.milestone_two_statement }}", "{{ order.milestone_four_statement }}", "{{ order.milestone_four_statement }}")

</script>
{% endblock %}