{% extends 'homepage/header.html' %}
{% load static %}
{% block content %}
<style>

    .client {
        padding: 130px 0;
        background-color: #F5F5F5;
        width: 100%;
    }
    .dashboard-card {
        background-color: #fff;
        border: 0.5px solid rgba(0,0,0,.125);
        min-height: 300px;
        max-height: 400px;
        padding:10px;
        margin: 10px;
    }
    .bottom-link {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 1px;
        right: 5px;
    }
    #no-job {
        padding-top: 50px;
    }
    .container-fluid h3 {
        padding: 10px;
    }
    #profile-pic {
        width: 150px;
        height: 150px;

    }
    #past-orders {
        position: relative;
        overflow-y:auto;
    }
    #profile-row {
        height: 100%;
    }
    #profile {
        height: 100%;
    }
    #business-name {
        padding: 10px;
    }
    .modal-dialog {
        position: absolute;
        top: 20vh;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
    }
</style>
<div class="client">
    <div class="container-fluid">
        <h3 class="m-0 text-dark">Management Dashboard</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="card dashboard-card" id="current-jobs">
                    <div class="card-body">
                        <h5 class="card-title">Current Jobs</h5>
                        {% if current_job %}
                        {% else %}
                        <div id="no-job" class="text-center">
                            <h3 class="text-secondary">There aren't any current jobs</h3>
                            <a href="{% url 'service-job' %}" class="btn btn-primary">Post a Job</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 card">
                <div class="card dashboard-card" id="profile">
                    <div class="card-body">
                        <div class="row" id="profile-row">
                            <div class="col-3 text-center">
                                <img id="profile-pic" class="float-center" src="{{ user.profile.image.url }}" alt="">
                                <h4 id="business-name" class="font-weight-bold">{{ user.profile.business_name }}</h4>
                                <h6 id="business-type" class="font-weight-bold">{{ user.profile.business_type }}</h6>
                            </div>
                            <div id="profile-description-div" class="col-9 text-right">
                                <h5>{{ user.email }}</h5>
                                <p>{{ user.profile.business_description }}</p>
                                <p id="profile-language" class="text-weight-bold">Language: {{ user.profile.language }}</p>
                                <a href="#" data-toggle="modal" data-target="#update-profile"><img class="bottom-link" src="{% static 'homepage/img/edit-icon.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card dashboard-card" id="past-orders">
                    <div class="card-body">
                        <h5 class="card-title">Past Orders</h5>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Price</th>
                                        <th>Manager</th>
                                        <th>Length</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                {{ order.name }}
                                            </td>
                                            <td>
                                                {{ order.price }} USD
                                            </td>
                                            <td>
                                                {{ order.manager }}
                                            </td>
                                            <td>
                                                {{ order.length }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% if order is None %}
                                        
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card">
                <div class="card dashboard-card" id="profile">
                    <div class="card-body">
                        <h5 class="card-title">Social Media Analytics tool</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Connect your social media accounts and recieve instant feedback</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="card-link view-link-all">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-profile" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Profile</h5>
            </div>
            <div class="modal-body" id="form-sign-up" style="overflow:scroll; height:400px;">
                <form method="POST" enctype='multipart/form-data'>
                    <!-- Token block needed for added security -->
                    {% csrf_token %}
                    {{ update_profile_form }}
                    <input id="submit-button" type="submit" class="btn btn-primary" value="Continue">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}